html, body{
    background-color: aliceblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

input[type="file"] {
    display: none;
}

main{
    display: flex;
    justify-content: center;
}



.custom-file-upload {

    margin-top: 3em;
    width: 20vw;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 1em 2em;
    cursor: pointer;
    text-align: center;
    border-radius: 1em;
    background-color: #cccccc;

    transition: 600ms;
}

.custom-file-upload:hover{
    background-color: #afafaf;
}

.custom-file-upload:active{
    background-color: #a09f9f;
}


[class*='routing-'] {
    border-radius: 1em;
    border: 1px solid #cccccc;
    font-size: 12px;
}

.routing-ns-name{
    border: none;
    font-size: 14px;
    padding: 0.8em;
}
.routing-wrap {

    padding: 1em;

    margin-bottom: 0.5em;
}

.routing-container {
    position: fixed;
    right: 2em;
    bottom: 2em;



    display: flex;
    flex-direction: column;


    background-color: #F5F5F5;
    padding: 0.7em;
}

.routing-container span {
    max-height: 45vh;
    min-width: 80vh;
    overflow: scroll;

    border: 2px solid white;
    background-color: white;
    border-radius: inherit;

    padding: 0.5em;
}

.routing-name {
    border: none;
    border-radius: 0;
    padding: 0.5em;
}

.routing-name:hover {
    background-color: #F5F5F5;
}

.routing {

    border: black;


}


.routing th, .routing tr td {
    padding: 0.2rem;
    background-color: white;
}

.routing th{
    background-color: white;

    padding: 0.6em 0.6em 0.7em;
}

.routing tr td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: inherit ;
}

.routing tr{
    background-color: white;
}

.routing tr:hover{
    background-color: #F5F5F5;
}


.hide{
    display: none;
    width: 100%;
}

svg{
    background-color: white;
    border-radius: 30px;
    border: 1px solid rgb(209, 209, 224);
    margin: 1vh 1vw;
    width: 98vw;
    height: 98vh;
    transition: 100ms;
}

svg.low_opacity{
    opacity: 0;
}

.link {
    stroke : black;
}

[class*='dot'] {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 0.5px solid #cccccc;
    display: inline-block;
    margin-bottom: -1.755px;

}

.dot_up{
    border: none;
    background-color: #4dff4d;
}
.dot_none{
    border: none;
    background-color: #FFC038;
}
.dot_down{
    border: none;
    background-color: #f26768;
}




.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

[class*='tooltip_'] {
    padding: 1em;

}

.tippy-tooltip{
    max-width: 100px;
    background-color: #ea2f2f;
}

.tooltip_big{
    width: 500px;
}

.tooltip_small{

    background-color: white;
   width: 180px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tooltip_small div {
    margin: 0.3em;
}

.round_span_addr{
    background-color: #DCDCDC;
    margin: 0.3em;
}

.addr_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

[class*='round_span_']{
    margin: 0.1rem;
    padding: 0.3rem;

    border-radius: 0.2em;
}
[class*='close-'] {
    color: #a09f9f;
    font: 20px/100% arial, sans-serif;
    align-self: flex-end;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    /*padding: 1em;*/
    border-radius: 50%;
}

.close-thin-corner{
    color: black;
    position: fixed;
    right: 30px;
    top: 20px;
}

.close-thin-tippy{
    font-size: 24px;

    margin: 0;
}

.close-thin-routing {
    text-align: right;
    height: 1em;
    width: 1em;

    position: fixed;
    padding: 0.4em;

    border-radius: 50%;




}

[class*='close-']:before {
    content: '×';
}


.round-button {
    display:block;
    width: 1.4em;
    height: 1.4em;
    line-height:1.4em;

    border: 0.6px solid black;
    border-radius: 50%;

    text-align:center;
    text-decoration:none;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3em;

}

.round-button:hover{
    cursor: pointer;
}
.round-button:active{
    background-color: #DCDCDC;
}



text{
    fill : black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.overlay_rect {
    fill: white;
    transition: opacity 1s;
    border-radius: 30px;
}
.overlay{
    font-size: 24px;
    stroke: #101010;
    transition: opacity 1s;
}

.inner_rect, text {
    cursor: pointer;
}

.search {
    position: fixed;
    bottom: 2em;
    left: 2.5em;

    padding: 1em;

    background: white;
    border: 0.5px solid #cccccc;
    border-radius: 1em;

    z-index: 500;
}

.search input {
    margin-left: 0.7em;
    padding: 5px;
    border: none;
    border-bottom: 2px solid black;
}

input[type=text]:focus {
    border: none;
    border-bottom: 2px solid black;
}

